.wrapper{
  height : 700px;
  background-color: #F4F1ea;
  position: relative;
  min-width: 1170px;
 }

#MainLinks {
   float: left;
   height: 43%;
   width: 57%;
}

.container {
  height: 63%;
  width: 28%;
  float:left;
  margin: 2%;
  position: relative;
}

.linkbox {
  display:block;
  background-color: #318ba2;
  border: 10px solid white;
  height: 89%;
  width: 89%;
  box-shadow: 2px 2px 5px grey;
}

.linkimage {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 64%;
  width: 64%;
  margin-top: -32%;
  margin-left: -32%;
 }

.linktag {
  height: 16%;
  position: absolute;
  bottom: -26%;
  left: 35%;
 }

.tagtext {
  position: absolute;
  bottom: -48%;
  font-size: 150%;
  font-family: 'Atma', cursive;
  font-weight: 500;
  width: 80%;
  text-align: center;
  text-shadow: 2px 2px 5px grey; 
  }

#CV p {
  transform: rotate(-20deg);
}

#LinkedIn p {
  transform: rotate(5deg);
}

#GitHub p {
  transform: rotate(-10deg);
}

a:hover {
  height: 79%;
  width: 79%;
  margin: 5%; 
} 

a:hover .linkimage {
  height: 53%;
  width: 53%;
  margin-top: -26%;
  margin-left: -26%;
 }

#SkillsList {
  font-family: 'Cormorant Garamond', serif;
  font-size: 170%;
  font-weight: 500;
  line-height: 1.4;
  width: 57%;
  position: absolute;
  left: 8.5%;
  top: 50%;
}

li {
 background: url(bullet.png) no-repeat 0 50%;
 padding-left: 15px;
}

#Headings {
  margin-left: 20px;
  margin-top: 150px;
  position: absolute;
  top: 57%;
  display: grid;
  width: 33%;
  height: 14%;
  grid-template-areas: 
    "name name name"
    "title picture email"
  }

#Headings h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 400%;
  font-weight: 900;
  grid-area: name;
 }

#Headings h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 138%;
  font-weight: 500;
  grid-area: title;
}

#Headings img {
  grid-area: picture;
  height: 35%;
  align-self: center;
  justify-self: center; 
}

#Headings h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 138%;
  font-weight: 500;
  grid-area: email;
  text-align: right;
}

#thesis {
 left: 36%;
 position: absolute;
 bottom: 2%;  
 z-index: 1;
}

#thesis a:hover {
  height: 73%;
  width: 73%;
  margin: 6%;
  } 

#thesis a:hover .tlinkimage {
  height: 47%;
  width: 29%;
  margin-top: -23%;
  margin-left: -15%;
 }

.tcontainer {
  height: 5%;
  width: 3%;
  margin-left: 21%;
  position: relative;
 }

.tlinkbox {
  display:block;
  background-color: #318ba2;
  border: 2px solid white;
  height: 88%;
  width: 88%;
  box-shadow: 2px 2px 5px grey;
}

.tlinkimage {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 59%;
  width: 41%;
  margin-top: -29%;
  margin-left: -21%;
 }

.tlinktag {
  height: 29%;
  position: absolute;
  top: 50%;
  left: -88%;
 }

.ttagtext {
  position: absolute;
  font-size: 75%;
  font-family: 'Atma', cursive;
  font-weight: 500;
  width: 588%;
  text-align: left;
  text-shadow: 2px 2px 5px grey; 
  left: -670%;
  top: 50%;
  }

.photo {
  height: 100%;
  right: 0;
  position: absolute;
}

